@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model List<WishItem>

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wish List</title>
    <link rel="stylesheet" href="~/css/HomeStyle.css" asp-append-version="true"/>
</head>
<body>
    <main>
        <section class="form-section">
            <h2>Add a New Wish</h2>
            <form id="wish-form">
                <a asp-controller="Home" asp-action="WishItemAddPage" class="btn btn-success">Create Wish Item</a>
            </form>
        </section>
        <section class="list-section">
            <h2>Your Wishes</h2>
            @foreach (var item in Model)
            {
                <tr>
                    <td><h3>@item.Title</h3></td>
                    <br>
                    <td>Description: @item.Description</td>
                    <br>
                    <a asp-controller="Home" asp-action="GetWishItemView" asp-route-id="@item.Id" class="btn btn-primary">Show Wish Item</a>
                    <a asp-controller="Home" asp-action="EditWishItemPage" asp-route-id="@item.Id" class="btn btn-warning">Edit Wish Item</a>
                    <a asp-controller="Home" asp-action="DeleteWishItem" asp-route-id="@item.Id" class="btn btn-danger">Delete Wish Item</a>
                </tr>
                <br>
            }               
        </section>
    </main>
    <script src="script.js"></script>
</body>
</html>


